:root {
  --colorPrimario: #006769;
  --colorSecundario: #40A578;
  --colorTerciario: #9DDE8B;
  --colorCuaternario: #E6FF94;
  --colorTextoPrimario: #333333;
  --blanco: #ffffff;
  --text-grey: #999999;
  --fontSize: 1.3em;
  --fontMontse: 'Montserrat', sans-serif;
  --fontMontseA: 'Montserrat Alternates', sans-serif;
  --w900: 900;
  --w800: 800;
  --w600: 600;
  --w500: 500;
  --w400: 400;
  --w300: 300
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontMontseA);
  font-weight: var(--w400);
  font-size: var(--fontSize);
  color: var(--colorTextoPrimario)
}

main p {
  color: var(--colorTextoPrimario)
}

main a {
  color: var(--colorPrimario);
  font-weight: var(--w600);
}

/* GENERALES  */
section {
  padding-top: 50px
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.text-colorPrimario {
  color: var(--colorPrimario)
}

.text-colorSecundario {
  color: var(--colorSecundario)
}

.text-colorTerciario {
  color: var(--colorTerciario)
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: inline-block
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    display: inline-block;
  }

  100% {
    opacity: 0;
    display: none
  }
}

.fade-in {
  animation: fadeIn .5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut .5s ease-in-out forwards;
}


/* familia tipografica Montserrat   // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;

  font-style: normal;
}


.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* encabezados */
h1 {
  font-family: var(--fontMontse);
  color: var(--colorPrimario);
  font-size: 2.8rem;
  line-height: 1em;
  font-weight: var(--w800);
}

h1 strong {
  color: var(--blanco);
  font-size: 3.2rem;
  line-height: 1em;
  text-shadow: 1px 0 0 var(--colorPrimario), -1px 0 0 var(--colorPrimario), 0 1px 0 var(--colorPrimario), 0 -1px 0 var(--colorPrimario), 1px 1px var(--colorPrimario), -1px -1px 0 var(--colorPrimario),
    1px -1px 0 var(--colorPrimario), -1px 1px 0 var(--colorPrimario);
}

h2.heading {
  font-family: var(--fontMontse);
  color: var(--colorPrimario);
  font-size: 2.2rem;
  font-weight: var(--w800);
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2.heading>strong {
  color: var(--blanco);
  line-height: 1em;
  text-shadow: 1px 0 0 var(--colorPrimario), -1px 0 0 var(--colorPrimario), 0 1px 0 var(--colorPrimario), 0 -1px 0 var(--colorPrimario), 1px 1px var(--colorPrimario), -1px -1px 0 var(--colorPrimario),
    1px -1px 0 var(--colorPrimario), -1px 1px 0 var(--colorPrimario);

}

.h2 {
  font-size: 1.6rem;
  font-weight: var(--w500)
}

/* margenes */
.margin-t-10 {
  margin-top: 10px
}

.margin-t-20 {
  margin-top: 20px
}

.margin-t-30 {
  margin-top: 30px
}

.margin-b-10 {
  margin-bottom: 10px
}

.margin-b-20 {
  margin-bottom: 20px
}

.margin-b-30 {
  margin-bottom: 30px
}


/* header  */
header {
  background-color: #ffffff;
  background: var(--colorSecundario);
  padding:15px 0 10px 0; 
}

header .dosbotones img { padding-left: 20px}

/* NAVEGACION   */
/* Menú hamburguesa */
.menu-hamburguesa {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 55px;
  background-color: var(--colorPrimario);
  padding: 8px 15px;
  border-radius: 6px;
}

.menu-hamburguesa span {
  height: 2px;
  background-color: white;
  margin: 4px 0;
  border-radius: 1px;
  transition: 0.3s;
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

ul.menu li {
  margin-left: 20px;
}

ul.menu li a {
  color: white;
  text-decoration: none;
}


ul.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #333;
  position: absolute;
  top: 90px;
  left: 0;
}

ul.menu li {
  text-align: center;
  margin: 10px 0; display: grid; grid-column: repeat(2, 1fr);
}

ul.menu.show {
  display: flex;
}

/* banner ppal ini */
.bannerPpal {

  

}


@media (min-width: 768px){

	.bannerPpal {
display: inline-flex; 
  
  }
	.bannerPpal img { max-width: 100%; }
  .bannerPpal .titular  { margin: 0 100px; }

}




.bannerPpal .arrow-link {
  display: flex;
  color: var(--blanco);
  background-color: var(--colorSecundario);
  transition: all .3s ease;
  cursor: pointer;
  font-weight: var(--w600);
  align-items: center;
  padding: 10px 32px;
  border-radius: 30px;
  text-wrap: nowrap;
  width: 220px;
  text-decoration: none;
  margin-top: 20px;
}

.bannerPpal .arrow-link>.arrow {
  width: 11px;
  height: 11px;
  border-right: 3px solid var(--blanco);
  border-bottom: 3px solid var(--blanco);
  position: relative;
  transform: rotate(-45deg);
  margin: 2px 0 0 18px;
  transition: all .3s ease;
}

.bannerPpal .arrow-link>.arrow::before {
  display: block;
  background-color: var(--colorCuaternario);
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.bannerPpal .arrow-link:hover>.arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: var(--colorCuaternario);
}

.bannerPpal .arrow-link:hover>.arrow::before {
  opacity: 1;
  width: 26px;
  color: var(--colorCuaternario);
}

.bannerPpal .arrow-link:hover {
  color: var(--colorCuaternario);
}

/* card */

.card {
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #efefef, 7px 12px 18px -2px rgba(55, 55, 55, 0.15);
  padding: 30px 40px;
  position: relative;
}


/*  carrousel 4 elementos  */

.carousel-container {
  position: relative;
   overflow: hidden;   
   min-height: 575px;
}


.carousel {
  display: flex;  
  width: calc(100% - 160px) ;
  transition: transform 0.5s ease-in-out; 
  gap: 40px; 
  margin-left: 20px;
}

#carousel2 .carousel {
   width: calc(100% - 180px) ;
   gap: 70px; 
 }

.carousel-item {
  flex: 1 0 25%; /* Ocupa 25% del ancho del contenedor en desktop (4 elementos visibles) */
  min-height: 450px;
   display: flex;
  text-align: center;
  padding: 0 30px 15px 30px;
  position: relative;
  margin-top: 90px; 
 }
 #carousel2 .carousel-item {
   min-height: 390px;

  margin-top: 80px;   
 
 }
 

.carousel-container button {
  position: absolute;
  top: calc(50% - 46px);
  transform: translateY(-50%);
  background-color: var(--colorPrimario);
  color: white;
  border: none;
  padding: 5px 5px 3px 5px;
  cursor: pointer;
  border-radius: 50%; width: 36px; height: 36px; 
}

.carousel-container button:hover {
  background-color: var(--colorSecundario)
}

.carousel-container .prev {
  left: 0; z-index: 9;font-size: 1.3rem;  
}

.carousel-container .next {
  right: 0; z-index: 9;font-size: 1.3rem;
}
.carousel-item img, .grid-container img  {
  border-radius: 50%;
  width: 50%;
   display: inline-block;
  position: absolute;
  top: -66px; left: 24%;
}

#carousel2 .carousel-item img {
   width: 40%;
   top: -76px; left: 29%;
}


.carousel-container h3, .grid-container h3 {
 margin-top:90px; line-height: 1em;
}


.carousel-item p {
  opacity: .8
}


#carousel2 .carousel-item {
  flex: 1 0 100%; /* 1 elemento visible en móvil */
}




.grid-recipe-dif {
  display: flex;
  color: var(--text-grey);
  font-weight: var(--w600);
  gap: 10px;
  font-size: .75em;
  width: 100%;
  justify-content: space-between
}

.grid-recipe-dif .fa-regular {
  padding-bottom: 7px;
}

.grid-recipe-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center
}
/* carousel fin */


/* suscribir NL */

.grid-suscribir {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);/* dos columnas en dispositivos móviles */
    grid-template-rows: 1fr 1fr 2fr;
   grid-template-areas:
    "col1 col2"
    "col3 col4"
     "grande grande";
     background-color: var(--colorSecundario);
     /* Las columnas se colocan una debajo de otra */
}

.suscribir-item img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
 }

 .suscribir-item.col1 img { grid-column: 1/2; grid-row: 1/2} 
 .suscribir-item.col2 img { grid-column: 2/3; grid-row: 1/2} 
 .suscribir-item.col3 img { grid-column: 1/2; grid-row: 2/3} 
 .suscribir-item.col4 img { grid-column: 2/3; grid-row: 2/3} 
 
 .suscribir-item.grande { grid-column: 1/3; grid-row: 3/5 }
 

.suscribir-item:nth-child(5),
.suscribir-item:nth-child(6),
.suscribir-item:nth-child(7), 
.suscribir-item:nth-child(8) {
display: none }
 
.suscribir-item.grande {
  grid-area: grande;
  display: grid;
  justify-items: center;
  align-items: center;
 padding: 20px 30px; 
}

.suscribir-item.grande .h3 {
  color: var(--blanco);
  font-size: 1.5em;text-align: center;
  }

.suscribir-item.grande button {
  color: var(--blanco);
  font-size: 1em;
  font-weight: var(--w600);
  background: var(--colorPrimario);
  border: 2px solid var(--colorPrimario);
  border-radius: 30px;
  padding: 5px 33px;
  font-family: var(--fontMontse);

}

.suscribir-item.grande button:hover {
  color: var(--blanco);
  background: transparent;
  border: 2px solid var(--colorPrimario);
  cursor: pointer;
}

/* recetas por categoria */

.grid-categoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--colorPrimario);
  gap: 30px;
  text-align: center; font-weight: var(--w600);
}

.categoria-item .fondo {
 background-image: url(../assets/img/fdocat.svg);
 background-repeat: no-repeat;
 background-size: 76px; 
 width: 76px; 
 height: 76px; margin: 0 auto  10px auto

}

.categoria-item img { height: 42px;  margin-top: 16px
 }


/* count up INI */
.bgcounter {background-color: rgba(226, 246, 221, 0.8) }
 .counter-section {
  display: inline-block; text-align: center ;   
padding-bottom: 50px; 
}
.counter {
  font-size: 3.8rem;
   line-height: 1em;  font-family: var(--fontMontse);
   text-shadow: 
   2px 0 0 var(--colorPrimario), 
   -2px 0 0 var(--colorPrimario), 
   0 2px 0 var(--colorPrimario), 
   0 -2px 0 var(--colorPrimario), 
  2px 2px var(--colorPrimario), 
  -2px -2px 0 var(--colorPrimario),
  2px -2px 0 var(--colorPrimario), 
  -2px 2px 0 var(--colorPrimario);
color: var(--blanco); font-weight: var(--w900);  

}

.counter::before {
content: "+ ";  
display: inline-block;
font-size: 2.5rem;
 padding-right: 10px; 
}

.counter::after {
  content: "RECETAS";  
  display: block;
  font-size: 1.6rem;
   padding-top: 0; 
   text-shadow: none;
   color: var(--colorPrimario);
   margin-top: -15px
  }

  .counter:nth-child(2):after {
    content: "COCINEROS ";  
     }
     .counter:nth-child(3):after  {
      content: "VIDEOS ";  
       }

/* count up FIN */

/* footerINI */

footer { 
  background-color: var(--colorPrimario);
  color: var(--blanco); 
  font-size: .8em; padding: 40px 20px}

 
footer hr {  opacity: .4;}

footer ul {
  list-style: none; 
  column-count: 2; /* Divide en dos columnas */

}

footer li {
    column-gap: 20px;   line-height: 2em;

}
footer li:after {
  content: "";
}

footer a {
  color: var(--blanco); text-decoration: none;
}

footer a:hover {
  color: var(--colorTerciario);
}

footer li a:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-bottom: 1px;
  margin-left: 8px;
  border: solid var(--blanco);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


footer li a:hover:after {
  border: solid var(--colorTerciario);
  border-width: 0 2px 2px 0; 
}

footer .footer2cols {
  display: flex;
justify-content: space-between;
width: 100%;}

footer .small {
font-size: .85em; opacity: .8
}

/* footer FIN */


/* INI MEDIA QUERYS */

@media (min-width:768px) {
  section {
    padding-top: 90px
  }

  .cabezal {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-nav {
    width: 70px;
  }

}




@media (min-width: 768px) {
  .bannerPpal article {
    width: 50%;
  }

  .bannerPpal {
    display: flex;
    align-items: center;

  }
}



/* Media Query para pantallas móviles */
@media (min-width: 768px) {
  #carousel2 .carousel-item  {
      flex: 1 0 50%; /* Ocupa 50% del ancho del contenedor en móvil (2 elementos visibles) */
  } }
  @media (min-width: 980px) {

  /* Carrusel 2: 3 elementos en desktop y 1 en móvil */
#carousel2 .carousel-item, .counter {
  flex: 1 0 33.33%; /* 3 elementos visibles en escritorio */
  }

}

@media (min-width: 768px) {
 

  .carousel-container {
    grid-template-columns: repeat(2, 1fr);
    /* 4 columnas iguales */
  }

}
 

@media (min-width: 980px) {
 
  .carousel-container {
    grid-template-columns: repeat(3, 1fr);
    /* 4 columnas iguales */

  }

  .grid-recipe-dif {

    width: calc(100% - 60px);
    position: absolute;
    bottom: 20px;
  }



}

@media (min-width: 1200px) {
  .carousel-container {
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas iguales */
  }
} 

@media (min-width: 768px) {
  .grid-categoria {
     grid-template-columns: repeat(3, 1fr);
 
  }
} 

@media (min-width: 980px) {
  .grid-categoria {
     grid-template-columns: repeat(6, 1fr);
 
  }
} 



@media (min-width: 768px) {
.counter-section {
  display: flex 
}}

@media (min-width: 768px) {
  .grid-suscribir { 
    grid-template-rows: repeat(1, 1fr);  /* 2 filas iguales  de alto */
     
   }

   .suscribir-item.grande h3 { padding: 40px auto  }
  
  }

@media (min-width: 980px) {
  .grid-suscribir { 
     grid-template-columns: 1fr 1fr 1fr 1fr 2fr;  /* 4 columnas iguales */
    grid-template-rows: repeat(2, 1fr);  /* 2 filas iguales  de alto */
    grid-template-areas:
      "col1 col2 col3 col4 grande"
      "col5 col6 col7 col8 grande"; /* Columna grande ocupa 2 filas */
   }

 
  .suscribir-item:nth-child(5) {
    grid-area: col5;display: grid;
  }
  
  .suscribir-item:nth-child(6) {
    grid-area: col6;display: grid;
  }
  
  .suscribir-item:nth-child(7) {
    grid-area: col7;display: grid;
  }
  
  .suscribir-item:nth-child(8) {
    grid-area: col8;display: grid;
  }



}


/* despliegue receta */
.fdo-recipe { 
  background-image: url(../assets/img/receta.jpg); 
  padding-bottom: 20px; background-repeat: no-repeat;  background-size: contain;
  color: var(--colorTextoPrimario); }

  .fdo-recipe .card { 
    margin: 300px 50px 40px 150px; padding-bottom: 80px; }

    .fdo-recipe p { 
      margin-top: 20px; line-height: 1.4em;
    }
    .fdo-recipe .h2  { 
      font-weight: var(--w600);
    }

.recipe-dif {
  display: flex;
  color: var(--text-grey);
  font-weight: var(--w600);
  gap: 50px;
  width: 100%;
  padding: 10px 0 20px 0
}

.recipe-elaboracion, .recipe-ingredientes { 
  background: var(--colorSecundario); 
  color: var(--blanco); 
  text-transform: uppercase; 
  padding: 8px 15px; 
  font-weight: var(--w600);}
.recipe-ingredientes { 
  background: var(--colorPrimario)}

.recipe-layout { display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.recipe-ingredientes-layout li { 
  background-image: url(../assets/img/ico_spoon.svg); 
  background-size: 12px;
  padding-left: 24px;
  background-repeat: no-repeat;
  list-style: none;
  line-height: 1.9em;
  background-position: left center; }





  
  @media (min-width: 980px) {

  .fdo-recipe .card { 
    margin: 320px 100px 80px 220px; padding-bottom: 40px; }


    .fdo-recipe.categoria{ background-size: cover }
    .fdo-recipe.categoria .card {  margin-left: 0 ;margin-right: 25% }
  }


  
.grid-container { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px; /* Adjust spacing between items */  }

}
